<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<h1>Welcome to my form page</h1>

    <form class="search" action="/form" method="POST" >
      Form:<br>
      <input type="text" name="name" placeholder="Search names">
      <button type = "submit">Submit </button>
      </form>

</body>
</html>	

