<!DOCTYPE html>
<html>

<head>
	<title>User Search</title>
	<link rel="stylesheet" type="text/css" href="./css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>

	<header>
		<h1>Search Users</h1>
		<div class="navbar-header">
			<a href="/">Home</a>
			<a href="users">All Users</a>
			<a href="search">Search</a>
			<a href="addUser">Add User</a>
		</div>
	</header>
	<section>
		<p>
			<h3>Please enter a name to search the user database</h3>

			<form action="/result" method="post" onsubmit="return false">
				Name: <input type="text" id ="Name" autocomplete="off" name = "Name">
				<ul id="dropdown"></ul>
				<input type="submit" value="Search">
    		</form>
		</p>
		<p id="searchResults"></p>


	</section>
		<script type="text/javascript">
		$(document).ready(function() {
			var myVar;
			$('#Name').keyup(function() {
				var Name = $('#Name').val()
				clearTimeout(myVar);
	 		myVar= setTimeout(function(){
				bar(Name);
			},300);
			})
			function bar(Name){	
				if (Name.length != 0) {
					$.post("/search", {
						Name: Name
					}, (response) => {
						$("#dropdown").empty();
						response.forEach(user => {
							$("#dropdown").append("<li>" + user.firstname + "</li>");
						})
					})
				} else {
					$("#dropdown").empty();
				}
			}
			$('#dropdown').on('click', 'li', function() {
				var fill = event.target
				$('#Name').val(fill.textContent)
			})
		})
	</script>
</body>
</html>
